body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  max-width: 800px;
  margin: 30px auto;
}

.nav a + a {
  margin-left: 10px;
}

.list-none {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  margin-bottom: 1px;
}

.button-x {
  margin-right: 10px;
}