body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  max-width: 800px;
  margin: 30px auto;
}

.post {
  padding: 20px;
  border-bottom: 1px #eaeaea solid;
}

button.link {
  border: none;
  padding: 0;
  font-size: inherit;
  background: none;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}